@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BookSale.Controllers


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%; /* IE10 */
            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%; /* IE10 */
            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        .container {
            background-color: #ffffff;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }


        label {
            margin-bottom: 10px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }


        hr {
            border: 1px solid lightgrey;
        }

        span.price {
            float: right;
            color: grey;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="col-75">
            <div class="container">
                <form action="/action_page.php">

                    


                    <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                    </label>
                    <input type="submit" value="Continue to checkout" class="btn"><a href="@Url.Action("BuyProducts", "Order")"><</a>
                </form>
            </div>
        </div>
        <div class="col-25">
            <div class="container">
                <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b></b></span></h4>
                @{double total = 0;
                    foreach (var item in (List<Item>)Session["cart"])
                    {
                        <p><a href="@Url.Action("Details", "Books", new { BookId = @item.Book.BookId })">@item.Book.BookName</p> 
                        <span class="price">@item.Book.BookPrice</span>
                        total += (item.Book.BookPrice * item.Quantity);
                    }

                    <hr>
                    <p>Total <span class="price" style="color:black"><b>@total</b></span></p>
                }




            </div>

            <a href="@Url.Action("Details", "Order", new { id = Session["OrderId"]})">Too see your orders click here</a>
        </div>
    </div>

</body>


