@model IEnumerable<BookSale.Models.Books.Book>
@{
    ViewBag.Title = "Home Page";
}



<section id="content">
    <section id="shop" class="container">

        <div class="row">

            @Html.Partial("_IndexSidebar")
            <style>
                a {
                    color: #F0AD4E;
                }
            </style>

            <div class="col-md-9">
                <div class="row">
                    @foreach (var item in Model)
                    {

                        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top"></a>
                                <div class="card-body">
                                    <h4 class="card-title"> @item.BookName</h4>
                                    <p class="card-text">@item.BookDescription</p>
                                    @Html.ActionLink("Details", "Details", new { id = item.BookId })|
                                    @if (Session["CustomerId"] == null)
                                    {
                                        @Html.ActionLink("Add to Cart", "Login", "Customer")
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("OrderNow" , "Order" , new { id = item.BookId })">OrderNow</a>
                                        //@Html.ActionLink("Add to Cart" ,"OrderNow", "Order", new { id = item.BookId })
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

            </section>
            </section>











